body{
    background-color: black;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    color: white;
    padding: 10px;
    text-align: center;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

header nav ul li {
    margin-right: 20px;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li:last-child{
    margin-right: 0;
}

.about-me_header{
    text-align: left;
    font-size: 45px;

}

.about-me{
    padding: 10px;
    font-style: italic;
}

.about-me_skills{
    
}

.intro{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 35px;
}